################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/MJMToDo/obj/Debug/net8.0-android/designtime
